#grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-gap: 2vw;
}

#grid>div {
    font-size: 35px;
    padding: .9px;
    background: gold;
    text-align: center;
}

.div1 {
    grid-area: 2 / 2 / 3 / 5;
}

.div2 {
    grid-area: 2 / 5 / 3 / 7;
}

.div3 {
    grid-area: 2 / 7 / 3 / 9;
}

.div4 {
    grid-area: 3 / 1 / 7 / 2;
}

.div5 {
    grid-area: 3 / 2 / 7 / 4;
}

.div6 {
    grid-area: 3 / 4 / 7 / 6;
}

.div11 {
    grid-area: 3 / 6 / 7 / 8;
}

.div7 {
    grid-area: 3 / 10 / 7 / 9;
}

.div8 {
    grid-area: 3 / 8 / 5 / 8;
}

.div9 {
    grid-area: 5 / 8 / 7 / 8;
}

.div10 {
    grid-area: 1 / 2 / 2 / 9;
}

div {
    word-wrap: break-word;
}